In [7]:
#Reading the file
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
df = pd.read_csv("C:\\Users\\80071\\Downloads\\HR_comma_sep.txt")
df.head()
#df.salary.unique()
#df.groupby(df.salary).count()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [8]:
#preprocessing the data 
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df.salary = le.fit_transform(df.salary)
df.Department = le.fit_transform(df.Department)
X = df.drop(columns= ['left'])
y = df.left
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1

In [12]:
#Normalizing the data set
from sklearn.preprocessing import MinMaxScaler 
min_max = MinMaxScaler()
X_normalized = min_max.fit_transform(X[['satisfaction_level','last_evaluation','number_project','average_montly_hours','time_spend_company','Department']])
X_normalized

C:\Users\80071\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

array([[0.31868132, 0.265625  , 0.        , 0.28504673, 0.125     ,
        0.77777778],
       [0.78021978, 0.78125   , 0.6       , 0.77570093, 0.5       ,
        0.77777778],
       [0.02197802, 0.8125    , 1.        , 0.82242991, 0.25      ,
        0.77777778],
       ...,
       [0.30769231, 0.265625  , 0.        , 0.21962617, 0.125     ,
        0.88888889],
       [0.02197802, 0.9375    , 0.8       , 0.85981308, 0.25      ,
        0.88888889],
       [0.30769231, 0.25      , 0.        , 0.28971963, 0.125     ,
        0.88888889]])

In [39]:
#splitting the data set 

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_normalized,y,test_size = .2,random_state = 1)

In [40]:
#applying logistic regression
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
clf.score(X_test,y_test)

C:\Users\80071\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7643333333333333

In [41]:
#applying KNN regression
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
clf.score(X_test,y_test)

0.957

In [42]:
from sklearn.svm import SVC
clf = SVC(kernel='linear')
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
clf.score(X_test,y_test)

0.7623333333333333

In [45]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
clf.score(X_test,y_test)

C:\Users\80071\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.991

In [44]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
clf.score(X_test,y_test)

0.9793333333333333

In [46]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print('--------------------------------------------------------------------')
print(classification_report(y_test,y_pred))

[[2280    7]
 [  20  693]]
--------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.99      1.00      0.99      2287
           1       0.99      0.97      0.98       713

   micro avg       0.99      0.99      0.99      3000
   macro avg       0.99      0.98      0.99      3000
weighted avg       0.99      0.99      0.99      3000